body
  background: $LightGray
  font-size: 16px
  color: #323232

p
  font-size: 1em
  font-weight: 200

a
  color: $Blue
  &:hover
    color: $DarkBlue

h1,
h2,
h3,
h4,
h5
  color: $Black

.container
  padding: 0

.page-section
  padding-bottom: 8px
  margin: 32px 0 16px
  border-bottom: 2px solid $Blue

.author
  margin: 16px auto
  padding: 16px 0
  border-bottom: 1px dashed #101010
  p
    font-size: 1.2em

.logo
  img
    width: 100%
    height: auto

.profile
  margin: 16px 8px
  padding: 16px 0
  border-top: 1px dashed $Blue
  border-bottom: 1px dashed $Blue

.social
  margin: 8px 0 0 0
  i
    margin-right: 8px