.container.tool_detail
  h1 
    a(href="#/tool") Tool
    |/{{tool.title}}
  .panel.panel-default
    .panel-body
      .col-md-12.page-section
        .col-md-9
          p.description {{tool.description}}
        .col-md-3
          p 作成日:{{tool.created_at}}
          p 更新日:{{tool.updated_at}}
          p タグ:{{tags}}

      .col-md-12.page-section
        img(ng-src="{{tool.image_path}}")

      .col-md-12
        a.btn.btn-default.col-md-3.btn-lg(href="{{tool.live_path}}", ng-Show="{{portfolio.blog_path}}", target="_brank")
          i.fa.fa-play-circle
          |Live
