extends layout/default

block title
  title makky.io - about
  meta(content='makky.io - about', name='title')
  meta(property='og:title', content='makky.io - about')
  meta(property='og:url', content='http://makky.io/about.html')

block contents
  .page-header
    .container
      h1 About

  .page-body
    .container
      h2 Profile
      .row
        .col-xs-6.col-sm-3
          img.img-circle(src='image/logo_MK_512.png', weight='400', height='400')
        .col-xs-12.col-sm-9
          p
            small Name
            br
            b Masaki Kobayashi
          p
            small Nickname
            br
            b Makky
          p
            small Job
            br
            b Student, Engineer
          p
            small Date of Birth
            br
            b 1994/10/13
          p
            small Belonging
            br
            b College of Knowledge and Library Sciences
            br
            b University of Tsukuba
          p
            small Place
            br
            b Tsukuba, Ibaraki, Japan

      hr
      h2 Career History
      .row
        .col-xs-12
          h3 2015
          h4 自然言語処理ハッカソン（リクルートテクノロジーズ・アドバンスドテクノロジーラボ主催 ）
          h4 pixiv 2015 SPRING BOOT CAMP
          p 準優勝

          h3 2014
          h4 知識情報・図書館学類 学類説明会実行委員
          h3 2013
          h4 セキュリティ・キャンプ中央大会 2013 Web Security Class
          p
            a(href = "https://www.ipa.go.jp/jinzai/renkei/camp2013/index.html") セキュリティ・キャンプ中央大会2013
            |, 
            a(href = "https://www.facebook.com/seccampjapan/photos_stream") Facebook:セキュリティ・キャンプ

          h4 知識情報・図書館学類 学類説明会実行委員
          h4 筑波大学 情報学群 知識情報・図書館学類 入学
          h4 茨城県立水戸工業高等学校 情報技術科 卒業
          h3 2012
          h4 第15回 全日本中学高校Webコンテスト ThinkQuest JAPAN
          p
            a(href = "http://sinsai-kangaeru.jp/") 震災について考えるサイト
            |プラチナ賞 Yahoo!基金特別賞, 
            a(href = "http://thinkquest.jp/library/15win/team150036.html") 公式

          h4 第11回高校生ホームページコンテスト
          p
            a(href = "http://zisinn-kangaeru.makkysnote.org/") 地震について考えるサイト
            |準グランプリ, 
            a(href = "http://www.kyoai.ac.jp/?p=3307") 公式

          h4 第9回北関東３県工業高校生徒研究発表大会
          p
            a(href = "http://librarysearch.jp/") Google StreetViewを用いた図書情報システムの開発 (LibrarySearch)
            | 最優秀賞

          h4 第64回生徒研究発表会
          p
            a(href = "http://librarysearch.jp/") Google StreetViewを用いた図書情報システムの開発 (LibrarySearch)
            | 最優秀賞

          h4 第２回 立命館・全国高校生ソフトウェア創作コンテスト ICT Challenge+R 2012
          p
            a(href = "http://librarysearch.jp/") Google StreetViewを用いた図書情報システムの開発 (LibrarySearch)
            |最優秀賞, 
            a(href = "http://www.ict-challenger.jp/") 公式, 
            a(href = "http://www.yomiuri.co.jp/kyoiku/news/20121010-OYT8T00347.htm") 読売新聞, 
            a(href = "http://ibarakinews.jp/news/movies.php?f_jun=13482453801705&m_id=2sbYLbbz4WY") 茨城新聞

          h4 第4回 全国高等学校情報処理選手権大会
          p
            |工業技術部 団体 13位, 
            a(href = "http://www.itec.co.jp/school/contest/itresult.html") 公式

          h4 第32回 全国高等学校IT・簿記選手権大会
          p
            |関東甲信越ブロック　工業技術部 IT部門 団体3位, 
            a(href = "http://www.itboki.jp/32th/it_h.html") 公式