extends layout/default

block contents
  .container.author
    .col-md-4.thumbnail.logo
      img(src = "image/logo_MK_512.png")
    .col-md-8
      .profile
        p にっくねーむ：Makky
        p ねーむ：Masaki Kobayashi
        p じょぶ：学生、Webエンジニア
        p しょぞく：筑波大学 情報学群 知識情報・図書館学類 2年 (klis13 AC)
        p れべる：19　(1994/10/13)
        p ろけーしょん：茨城県 つくば市
        p
          |ろぐ: 
          a(href = "http://blog.makkysnote.org") Blog
        p
          |そーしゃる:
          .social
            a(href = "#")
              i.fa.fa-google-plus-square.fa-2x
            a(href = "#")
              i.fa.fa-twitter.fa-2x
            a(href = "#")
              i.fa.fa-facebook.fa-2x
            a(href = "#")
              i.fa.fa-github.fa-2x
            a(href = "#")
              i.fa.fa-skype.fa-2x
            a(href = "#")
              i.fa.fa-foursquare.fa-2x

  .container.about
    h1 Achievement
    h2 セキュリティ・キャンプ中央大会2013 WebSecurityClass
    a(href = "https://www.ipa.go.jp/jinzai/renkei/camp2013/index.html") セキュリティ・キャンプ中央大会2013
    | 
    a(href = "https://www.facebook.com/seccampjapan/photos_stream") Facebook:セキュリティ・キャンプ

    h2 第15回 全日本中学高校Webコンテスト ThinkQuest JAPAN
    a(href = "http://sinsai-kangaeru.jp/") 震災について考えるサイト
    |プラチナ賞 Yahoo!基金特別賞 
    a(href = "http://thinkquest.jp/library/15win/team150036.html") 公式

    h2 第11回高校生ホームページコンテスト
    a(href = "http://zisinn-kangaeru.makkysnote.org/") 地震について考えるサイト
    |準グランプリ
    a(href = "http://www.kyoai.ac.jp/?p=3307") 公式

    h2 第9回北関東３県工業高校生徒研究発表大会
    a(href = "http://librarysearch.jp/") Google StreetViewを用いた図書情報システムの開発 (LibrarySearch)
    | 最優秀賞

    h2 第64回生徒研究発表会
    a(href = "http://librarysearch.jp/") Google StreetViewを用いた図書情報システムの開発 (LibrarySearch)
    | 最優秀賞

    h2 第２回 立命館・全国高校生ソフトウェア創作コンテスト ICT Challenge+R 2012
    a(href = "http://librarysearch.jp/") Google StreetViewを用いた図書情報システムの開発 (LibrarySearch)
    |最優秀賞
    a(href = "http://www.ict-challenger.jp/") 公式
    a(href = "http://www.yomiuri.co.jp/kyoiku/news/20121010-OYT8T00347.htm") 読売新聞
    a(href = "http://ibarakinews.jp/news/movies.php?f_jun=13482453801705&m_id=2sbYLbbz4WY") 茨城新聞

    h2 第4回 全国高等学校情報処理選手権大会
    |工業技術部 団体 13位 
    a(href = "http://www.itec.co.jp/school/contest/itresult.html") 公式

    h2 第32回 全国高等学校IT・簿記選手権大会
    |関東甲信越ブロック　工業技術部 IT部門 団体3位
    a(href = "http://www.itboki.jp/32th/it_h.html") 公式