extends layout/default

block contents
  .jumbotron
    .container
      .text-center
        .row.text-center
          .col-sm-2.col-sm-offset-5.col-xs-4.col-xs-offset-4
            img.img-circle(src='image/logo_MK_512.png')
        h1 makky.io
        p
          |makky.ioは、Makky(Masaki Kobayashi)のWebサイトです。
          br
          |これまでに製作したWebサイトやWebアプリなどを紹介します。

  .page-body
    .container
      .row
        .col-sm-3
          .list-group
            a.list-group-item(href='works.html')
              i.fa.fa-angle-right.fa-fw
              |&nbsp;Works
            a.list-group-item(href='products.html')
              i.fa.fa-angle-right.fa-fw
              |&nbsp;Products
            a.list-group-item(href='about.html')
              i.fa.fa-angle-right.fa-fw
              |&nbsp;About

          .list-group
            a.list-group-item(href="https://plus.google.com/u/0/+MasakiKobayashi_makky_/posts", target="_brank")
              i.fa.fa-google-plus-square.fa-fw
              |&nbsp;Picture

            a.list-group-item(href='http://blog.makky.io', target='_blank')
              i.fa.fa-calendar.fa-fw
              |&nbsp;Blog

        .col-sm-9
          h2 Entries
          p
            a(href='http://blog.makky.io', target='_blank') blog.makky.io
            |の新着記事です。
          .js-post-list.posts