extends layout/default

block title

block assets
  
block contents
  .container.author
    .col-md-4.thumbnail.logo
      img(src = "image/logo_MK_512.png")
    .col-md-8
      .profile
        p にっくねーむ：Makky
        p ねーむ：Masaki Kobayashi
        p じょぶ：学生、Webエンジニア
        p しょぞく：筑波大学 情報学群 知識情報・図書館学類 2年 (klis13 AC)
        p れべる：19　(1994/10/13)
        p ろけーしょん：茨城県 つくば市
        p
          |ろぐ: 
          a(href = "http://blog.makkysnote.org") Blog
        p
          |そーしゃる:
          .social
            a(href = "#")
              i.fa.fa-google-plus-square.fa-2x
            a(href = "#")
              i.fa.fa-github.fa-2x
            a(href = "#")
              i.fa.fa-facebook.fa-2x
            a(href = "#")
              i.fa.fa-twitter.fa-2x

  .container.top_menu
    .row
      a(href = "#").col-md-4
        .well
          i.fa.fa-book.fa-2x
          p Blog

      a(href = "#").col-md-4
        .well
          i.fa.fa-picture-o.fa-2x
          p Streetview

      a(href = "#").col-md-4
        .well
          i.fa.fa-code.fa-2x
          p Apps

      a(href = "#").col-md-4
        .well
          i.fa.fa-camera.fa-2x
          p Photos

      a(href = "#").col-md-4
        .well
          i.fa.fa-cogs.fa-2x
          p Portfolio

      a(href = "#").col-md-4
        .well
          i.fa.fa-male.fa-2x
          p About Me

      a(href = "#").col-md-4
        .well
          i.fa.fa-comments.fa-2x
          p Contact

      a(href = "#").col-md-4
        .well

      a(href = "#").col-md-4
        .well


