extends layout/default

block title 
  title Makky.io

block assets
  
block contents
  .container.top_menu
    .row
      a(href = "http://blog.makkysnote.org").col-md-4.col-xs-6.panel
        i.fa.fa-calendar.fa-2x
        p Blog

      a(href = "/tool.html").col-md-4.col-xs-6.panel
        i.fa.fa-wrench.fa-2x
        p Tool

      a(href = "/portfolio.html").col-md-4.col-xs-6.panel
        i.fa.fa-cogs.fa-2x
        p Portfolio

      a(href = "https://plus.google.com/u/0/photos/103944930745515141285/albums").col-md-4.col-xs-6.panel
        i.fa.fa-camera.fa-2x
        p Picture

      a(href = "/about.html").col-md-4.col-xs-6.panel
        i.fa.fa-male.fa-2x
        p About

      a(href = "http://blog.makkysnote.org/contact/").col-md-4.col-xs-6.panel
        i.fa.fa-comments.fa-2x
        p Contact

      //- a(href = "#").col-md-4.col-xs-6.panel
      //- a(href = "#").col-md-4.col-xs-6.panel
