doctype
html
  head
    title Makky.io
    meta(charset= 'UTF-8')
    meta(content= 'width=device-width, initial-scale=1.0', name= 'viewport')
    meta(content= '', property= 'keywords')
    meta(content= '', property= 'og:title')
    meta(content= 'website', property= 'og:type')
    meta(content= '', property= 'og:description')
    meta(content= '', property= 'og:url')
    meta(content= '', property= 'og:site_name')
    link(href='image/favicon.ico', rel='shortcut icon')
    link(href='image/webclip.png', rel='apple-touch-icon')
    script(src='lib/jquery/js/jquery.min.js')
    script(src='lib/bootstrap/js/bootstrap.min.js')
    script(src='lib/angular/js/angular.min.js')
    script(src='lib/angular-route/js/angular-route.min.js')
    script(src='js/app.js')
    script(src='js/factory/factory.js')
    script(src='js/controller/index.js')
    link(href='lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='style/style.css', rel='stylesheet')

  body(ng-app="makkyio")
    include template/header
    
    div(ng-view="")

    include template/footer