extends layout/default

block contents
  .page-header
    .container
      h1 Products

  .page-body
    .container
      h2 WebApp
      .row
        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/webapp/beef_clicker_1.png' alt='')
            .caption
              h3 BeefClicker
              //- p
              //-   |第39回 筑波大学 雙峰祭において、春日地区クラス代表者会議が出店したお店の売り上げカウンターアプリです。 
              //-   |WebSocketを用いて閲覧中の他のユーザにもリアルタイムに売上個数を共有することが出来ます。
              //-   |GoogleChartsを用いてグラフを作成することも出来ます。
              //- p.buttons
              //-   a.btn.btn-primary(href="#") Detail

      hr
      h2 WebSite
      .row
        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/mediaart_hauntedhouse.png' alt='')
            .caption
              h3 メディアアートお化け屋敷
              //- p.buttons
              //-   a.btn.btn-primary(href="#") Detail

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/kasuga_1.png' alt='')
            .caption
              h3 春日地区クラス代表者会議
              //- p.buttons
              //-   a.btn.btn-primary(href="#") Detail

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/kasuga14_freshman.png' alt='')
            .caption
              h3 春日地区新入生歓迎会2014
              //- p.buttons
              //-   a.btn.btn-primary(href="#") Detail

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/mth_1.png' alt='')
            .caption
              h3 水戸工業高等学校
              //- p.buttons
              //-   a.btn.btn-primary(href="#") Detail

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/shinsai_kangaeru_1.png' alt='')
            .caption
              h3 震災について考えるサイト
              //- p.buttons
              //-   a.btn.btn-primary(href="#") Detail

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/zishinn_kangaeru_1.png' alt='')
            .caption
              h3 地震について考えるサイト
              //- p.buttons
              //-   a.btn.btn-primary(href="#") Detail