extends layout/default

block title
  title makky.io - products
  meta(content='makky.io - products', name='title')
  meta(property='og:title', content='makky.io - products')
  meta(property='og:url', content='http://makky.io/products.html')

block contents
  .page-header
    .container
      h1 Products

  .page-body
    .container
      h2 WebApp
      .row
        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/webapp/mediaart_hauntedhouse.png' alt='Mediaart Hauntedhouse')
            .caption
              h3 Mediaart Hauntedhouse
              p.buttons
                a.btn.btn-primary(href='#', target='_blank', disabled='disabled') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/webapp/beef_clicker_1.png' alt='BeefClicker')
            .caption
              h3 BeefClicker
              //- p
              //-   |第39回 筑波大学 雙峰祭において、春日地区クラス代表者会議が出店したお店の売り上げカウンターアプリです。 
              //-   |WebSocketを用いて閲覧中の他のユーザにもリアルタイムに売上個数を共有することが出来ます。
              //-   |GoogleChartsを用いてグラフを作成することも出来ます。
              p.buttons
                a.btn.btn-primary(href='#', target='_blank', disabled='disabled') Live
        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/webapp/tx_counter.png' alt='TX Counter')
            .caption
              h3 TX Counter
              p.buttons
                a.btn.btn-primary(href='#', target='_blank', disabled='disabled') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/webapp/housyasen_kangaeru.png' alt='放射線について考えるサイト')
            .caption
              h3 放射線について考えるサイト
              p.buttons
                a.btn.btn-primary(href='#', target='_blank', disabled='disabled') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/webapp/library_search.png' alt='Library Search')
            .caption
              h3 Library Search
              p.buttons
                a.btn.btn-primary(href='http://librarysearch.jp', target='_blank') Live

      hr
      h2 WebSite
      .row
        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/mediaart_hauntedhouse.png' alt='')
            .caption
              h3 メディアアートお化け屋敷
              p.buttons
                a.btn.btn-primary(href='http://app.makky.io/mediaart_hauntedhouse/', target='_blank') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/kasuga_1.png' alt='')
            .caption
              h3 春日地区クラス代表者会議
              p.buttons
                a.btn.btn-primary(href='http://www.stb.tsukuba.ac.jp/~kasuga-campus/', target='_blank') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/kasuga14_freshman.png' alt='')
            .caption
              h3 春日地区新入生歓迎会2014
              p.buttons
                a.btn.btn-primary(href='http://www.stb.tsukuba.ac.jp/~kasuga-campus/shinkan/', target='_blank') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/makkysnote.png' alt='')
            .caption
              h3 Makky's Note
              p.buttons
                a.btn.btn-primary(href='#', target='_blank', disabled='disabled') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/mth_1.png' alt='')
            .caption
              h3 水戸工業高等学校
              p.buttons
                a.btn.btn-primary(href='http://www.mito-th.ed.jp/', target='_blank') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/suiko_fes.png' alt='')
            .caption
              h3 平成24年度 水戸工業高等学校 文化祭
              p.buttons
                a.btn.btn-primary(href='http://app.makky.io/suiko-fes/', target='_blank') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/shinsai_kangaeru_1.png' alt='')
            .caption
              h3 震災について考えるサイト
              p.buttons
                a.btn.btn-primary(href='http://sinsai-kangaeru.jp/', target='_blank') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/products/website/zishinn_kangaeru_1.png' alt='')
            .caption
              h3 地震について考えるサイト
              p.buttons
                a.btn.btn-primary(href='http://app.makky.io/zishin-kangaeru/', target='_blank') Live

      hr
      h2 StreetView
      .row
        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/ashikaga-institute-of-technology.png' alt='足利工業大学 キャンパス')
            .caption
              h3 足利工業大学 キャンパス
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=ashikaga-institute-of-technology', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/ibaraki-prefectural-library.png' alt='茨城県立図書館')
            .caption
              h3 茨城県立図書館
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=ibaraki-prefectural-library', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/kairakuen-1.png' alt='偕楽園#1')
            .caption
              h3 偕楽園#1
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=kairakuen-1', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/kairakuen-2.png' alt='偕楽園#2')
            .caption
              h3 偕楽園#2
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=kairakuen-2', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/kasuga_4.png' alt='筑波大学 春日キャンパス')
            .caption
              h3 筑波大学 春日キャンパス
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=kasuga_4', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/kasuga-ground-night.png' alt='筑波大学 春日キャンパス#夜')
            .caption
              h3 筑波大学 春日キャンパス#夜
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=kasuga-ground-night', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/mito-station.png' alt='茨城県 水戸駅')
            .caption
              h3 茨城県 水戸駅
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=mito-station', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/mth-e-autum.png' alt='水戸工業高等学校 E棟#秋')
            .caption
              h3 水戸工業高等学校 E棟#秋
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=mth-e-autum', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/mth-e-spring.png' alt='水戸工業高等学校 E棟#春')
            .caption
              h3 水戸工業高等学校 E棟#春
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=mth-e-spring', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/mth-e-summer.png' alt='水戸工業高等学校 E棟#夏')
            .caption
              h3 水戸工業高等学校 E棟#夏
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=mth-e-summer', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/mth-e-winter.png' alt='水戸工業高等学校 E棟#冬')
            .caption
              h3 水戸工業高等学校 E棟#冬
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=mth-e-winter', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/mth-ground.png' alt='水戸工業高等学校 グラウンド')
            .caption
              h3 水戸工業高等学校 グラウンド
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=mth-ground', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/mth-it3.png' alt='水戸工業高等学校 情報技術科')
            .caption
              h3 水戸工業高等学校 情報技術科
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=mth-it3', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/mth-library.png' alt='水戸工業高等学校 図書館')
            .caption
              h3 水戸工業高等学校 図書館
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=mth-library', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/outlet.png' alt='大洗リゾートアウトレット')
            .caption
              h3 大洗リゾートアウトレット
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=outlet', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/ritumeikan-dormitory.png' alt='立命館大学 寮')
            .caption
              h3 立命館大学 寮
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=ritumeikan-dormitory', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/ritumeikann.png' alt='立命館大学 キャンパス')
            .caption
              h3 立命館大学 キャンパス
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=ritumeikann', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/senba-lake-sunset.png' alt='千波湖#夕日')
            .caption
              h3 千波湖#夕日
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=senba-lake-sunset', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/senba-lake.png' alt='千波湖#1')
            .caption
              h3 千波湖#1
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=senba-lake', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/senba-lake2.png' alt='千波湖#2')
            .caption
              h3 千波湖#2
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=senba-lake2', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/tukuba-bunkyo.png' alt='筑波大学 文京キャンパス')
            .caption
              h3 筑波大学 文京キャンパス
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=tukuba-bunkyo', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/tukuba-center.png' alt='つくばセンター')
            .caption
              h3 つくばセンター
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=tukuba-center', target='_blank') Live

        .col-sm-6.col-md-3
          .thumbnail
            img(src='image/products/streetview/tukuba-centerlib.png' alt='筑波大学 中央図書館')
            .caption
              h3 筑波大学 中央図書館
              p.buttons
                a.btn.btn-primary(href='http://panorama.makky.io/#/choose?panorama_id=tukuba-centerlib', target='_blank') Live