extends layout/default

block contents
  .page-header
    .container
      h1 Works

  .page-body
    .container
      .row
        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/works/microphone_visualizer.png' alt='Microphone Visualizer')
            .caption
              h3 Microphone Visualizer
              p.buttons
                a.btn.btn-primary(href='http://app.makky.io/microphone_visualizer', target='_blank') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/works/amenimo_webfont.png' alt='雨にも負けず')
            .caption
              h3 雨にも負けず
              p.buttons
                a.btn.btn-primary(href='http://app.makky.io/amenimomakezu', target='_blank') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/works/hexadecimal_generator.png' alt='Hexadecimal Generator')
            .caption
              h3 Hexadecimal Generator
              p.text-center
                a.btn.btn-primary(href='http://app.makky.io/hexadecimal_generator', target='_blank') Live

        .col-sm-6.col-md-4
          .thumbnail
            img(src='image/works/pon_de_matcha.png' alt='ポン・デ・抹茶チョコ')
            .caption
              h3 ポン・デ・抹茶チョコ
              p.text-center
                a.btn.btn-primary(href='http://app.makky.io/pon_de_matcha', target='_blank') Live
