.container.app-live
  h1 Pon de Matcha
  .donut.
    <svg width="840" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
      <ellipse class="donut_pon" fill="#916735" stroke-width="0" cx="123.555556" cy="68.555558" rx="35.999998" ry="36.500001" stroke="#000000" id="svg_7"/>
      <ellipse class="donut_pon" fill="#916735" stroke-width="0" cx="184.000014" cy="70.333329" rx="35.999998" ry="36.500001" stroke="#000000" id="svg_23"/>
      <ellipse class="donut_pon" fill="#23b750" stroke-width="0" cx="123.555557" cy="60.555557" rx="36" ry="30.5" stroke="#000000" id="svg_8"/>
      <ellipse class="donut_pon" fill="#23b750" stroke-width="0" cx="184.000015" cy="62.333328" rx="36" ry="30.5" stroke="#000000" id="svg_24"/>
      <ellipse class="donut_pon" fill="#916735" stroke-width="0" cx="219.555567" cy="107.666657" rx="35.999998" ry="36.500001" stroke="#000000" id="svg_25"/>
      <ellipse class="donut_pon" fill="#23b750" stroke-width="0" cx="219.555569" cy="99.666656" rx="36" ry="30.5" stroke="#000000" id="svg_26"/>
      <ellipse class="donut_pon" fill="#916735" stroke-width="0" cx="223.111124" cy="152.000001" rx="35.999998" ry="36.500001" stroke="#000000" id="svg_27"/>
      <ellipse class="donut_pon" fill="#23b750" stroke-width="0" cx="221.111126" cy="143.999999" rx="36" ry="30.5" stroke="#000000" id="svg_28"/>
      <ellipse class="donut_pon" fill="#916735" stroke-width="0" cx="185.777792" cy="191.222215" rx="35.999998" ry="36.500001" stroke="#000000" id="svg_29"/>
      <ellipse class="donut_pon" fill="#916735" stroke-width="0" cx="120.333342" cy="191.222215" rx="35.999998" ry="36.500001" stroke="#000000" id="svg_31"/>
      <ellipse class="donut_pon" fill="#916735" stroke-width="0" cx="80.888899" cy="100.555543" rx="35.999998" ry="36.500001" stroke="#000000" id="svg_33"/>
      <ellipse class="donut_pon" fill="#23b750" stroke-width="0" cx="80.888901" cy="92.555541" rx="36" ry="30.5" stroke="#000000" id="svg_34"/>
      <ellipse class="donut_pon" fill="#916735" stroke-width="0" cx="82.666686" cy="146.777772" rx="35.999998" ry="36.500001" stroke="#000000" id="svg_35"/>
      <ellipse class="donut_pon" fill="#23b750" stroke-width="0" cx="82.666687" cy="138.77777" rx="36" ry="30.5" stroke="#000000" id="svg_36"/>
      <ellipse class="donut_pon" fill="#23b750" stroke-width="0" cx="120.333344" cy="182.222213" rx="36" ry="30.5" stroke="#000000" id="svg_32"/>
      <ellipse class="donut_pon" fill="#23b750" stroke-width="0" cx="185.777794" cy="183.222213" rx="36" ry="30.5" stroke="#000000" id="svg_30"/>
     </g>
    </svg>