.container.app-live
  h1 Pon de Maccha
  .donut.
    <svg width="840" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
      <ellipse class="donut_pon" id="svg_7" stroke="#000000" ry="36.500001" rx="35.999998" cy="68.555558" cx="123.555556" stroke-width="0" fill="#916735"/>
      <ellipse class="donut_pon" id="svg_23" stroke="#000000" ry="36.500001" rx="35.999998" cy="70.333329" cx="184.000014" stroke-width="0" fill="#916735"/>
      <ellipse class="donut_pon" id="svg_8" stroke="#000000" ry="30.5" rx="36" cy="60.555557" cx="123.555557" stroke-width="0" fill="#23b750"/>
      <ellipse class="donut_pon" id="svg_24" stroke="#000000" ry="30.5" rx="36" cy="62.333328" cx="184.000015" stroke-width="0" fill="#23b750"/>
      <ellipse class="donut_pon" id="svg_25" stroke="#000000" ry="36.500001" rx="35.999998" cy="107.666657" cx="219.555567" stroke-width="0" fill="#916735"/>
      <ellipse class="donut_pon" id="svg_26" stroke="#000000" ry="30.5" rx="36" cy="99.666656" cx="219.555569" stroke-width="0" fill="#23b750"/>
      <ellipse class="donut_pon" id="svg_27" stroke="#000000" ry="36.500001" rx="35.999998" cy="152.000001" cx="223.111124" stroke-width="0" fill="#916735"/>
      <ellipse class="donut_pon" id="svg_28" stroke="#000000" ry="30.5" rx="36" cy="143.999999" cx="221.111126" stroke-width="0" fill="#23b750"/>
      <ellipse class="donut_pon" id="svg_29" stroke="#000000" ry="36.500001" rx="35.999998" cy="191.222215" cx="185.777792" stroke-width="0" fill="#916735"/>
      <ellipse class="donut_pon" id="svg_30" stroke="#000000" ry="30.5" rx="36" cy="183.222213" cx="185.777794" stroke-width="0" fill="#23b750"/>
      <ellipse class="donut_pon" id="svg_31" stroke="#000000" ry="36.500001" rx="35.999998" cy="191.222215" cx="120.333342" stroke-width="0" fill="#916735"/>
      <ellipse class="donut_pon" id="svg_33" stroke="#000000" ry="36.500001" rx="35.999998" cy="100.555543" cx="80.888899" stroke-width="0" fill="#916735"/>
      <ellipse class="donut_pon" id="svg_34" stroke="#000000" ry="30.5" rx="36" cy="92.555541" cx="80.888901" stroke-width="0" fill="#23b750"/>
      <ellipse class="donut_pon" id="svg_35" stroke="#000000" ry="36.500001" rx="35.999998" cy="146.777772" cx="82.666686" stroke-width="0" fill="#916735"/>
      <ellipse class="donut_pon" id="svg_36" stroke="#000000" ry="30.5" rx="36" cy="138.77777" cx="82.666687" stroke-width="0" fill="#23b750"/>
      <ellipse class="donut_pon" id="svg_32" stroke="#000000" ry="30.5" rx="36" cy="182.222213" cx="120.333344" stroke-width="0" fill="#23b750"/>
     </g>
    </svg>