link(href='lib/bootstrap/bootstrap.min.css', rel='stylesheet')
link(href='lib/fontawesome/font-awesome.min.css', rel='stylesheet')
link(href='css/style.css', rel='stylesheet')
script(src='lib/jquery/jquery.min.js')
script(src='lib/bootstrap/bootstrap.min.js')
script(async src='js/app.js')