link(href='image/favicon.ico', rel='shortcut icon')
link(href='image/webclip.png', rel='apple-touch-icon')
link(href='lib/bootstrap/bootstrap.min.css', rel='stylesheet')
link(href='lib/fontawesome/font-awesome.min.css', rel='stylesheet')
link(href='css/style.css', rel='stylesheet')
script(src='lib/jquery/jquery.min.js')
script(src='lib/bootstrap/bootstrap.min.js')
script(src='js/app.js')