.footer
  .container
    .row
      .col-sm-6.col-xs-12
        p &copy; Makky.io All Rights Reserved.
      .col-sm-6.col-xs-12.footer-icons
        a(href="https://github.com/makky3939", target="_brank")
          i.fa.fa-github
        a(href="https://www.facebook.com/masaki.kobayashi.1485", target="_brank")
          i.fa.fa-facebook
        a(href="https://plus.google.com/u/0/+MasakiKobayashi_makky_/posts", target="_brank")
          i.fa.fa-google-plus
        a(href="https://twitter.com/_Makky_", target="_brank")
          i.fa.fa-twitter