nav.navbar.navbar-inverse.footer_menu
  .container-fluid
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        include ../template/menu

nav.navbar.footer
  .container-fluid
    .col-md-6.col-xs-12
      p &copy; Makky.io All Rights Reserved.
    .col-md-6.col-xs-12.text-right
      a(href = "#")
        i.fa.fa-google-plus-square.fa-2x
      a(href = "#")
        i.fa.fa-github.fa-2x
      a(href = "#")
        i.fa.fa-facebook.fa-2x
      a(href = "#")
        i.fa.fa-twitter.fa-2x
