nav.navbar.navbar-inverse.footer_menu
  .container-fluid
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        include ../template/menu

nav.navbar.footer
  .container-fluid
    .col-md-6.col-sm-6.col-xs-12
      p &copy; Makky.io All Rights Reserved.
    .col-md-6.col-sm-6.col-xs-12.text-right
      a(href="https://plus.google.com/u/0/+MasakiKobayashi_makky_/posts", target="_brank")
        i.fa.fa-google-plus-square.fa-2x
      a(href="https://github.com/makky3939", target="_brank")
        i.fa.fa-github.fa-2x
      a(href="https://www.facebook.com/masaki.kobayashi.1485", target="_brank")
        i.fa.fa-facebook.fa-2x
      a(href="https://twitter.com/_Makky_", target="_brank")
        i.fa.fa-twitter.fa-2x
