.footer_menu.row
  .container
    .col-md-12
      ul.nav.navbar-nav.navbar-right
        li
          a(href = "http://blog.makkysnote.org", target="_brank") Blog
        li
          a(href = "/streetview") Streetview
        li
          a(href = "https://plus.google.com/u/0/photos/103944930745515141285/albums", target="_brank") Picture
        li
          a(href = "/apps") Apps
        li
          a(href = "/portfolio") Portfolio
        li
          a(href = "http://blog.makkysnote.org/contact/", target="_brank") Contact

.footer.row 
  .container
    .col-md-6.col-xs-12
      p &copy; Makky.io All Rights Reserved.
    .col-md-6.col-xs-12.text-right
      a(href = "#")
        i.fa.fa-google-plus-square.fa-2x
      a(href = "#")
        i.fa.fa-github.fa-2x
      a(href = "#")
        i.fa.fa-facebook.fa-2x
      a(href = "#")
        i.fa.fa-twitter.fa-2x