.header.title
  a(href = "/")
    h1 Makky.io
nav.navbar.navbar-inverse.header(role = "navigation")
  .container-fluid
    .navbar-header
      button.navbar-toggle(type = "button", data-toggle = "collapse", data-target="#navbar-collapse-1")
        span.sr-only Toggle Navigation
        - for i in [,,,]
          span.icon-bar

    #navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        include ../template/menu