li
  a(href = "http://blog.makkysnote.org", target="_brank") Blog
li
  a(href = "/tool.html") Tool
li
  a(href = "/portfolio.html") Portfolio
li
  a(href = "/streetview.html") Streetview
li
  a(href = "https://plus.google.com/u/0/photos/103944930745515141285/albums", target="_brank") Picture
li
  a(href = "/about.html") About
li
  a(href = "http://blog.makkysnote.org/contact/", target="_brank") Contact
