li
  a(href = "#/index") Top
li
  a(href = "http://blog.makkysnote.org", target="_brank") Blog
li
  a(href = "#/tool") Tool
li
  a(href = "#/portfolio") Portfolio
li
  a(href = "https://plus.google.com/u/0/photos/103944930745515141285/albums", target="_brank") Picture
li
  a(href = "#/about") About
li
  a(href = "http://blog.makkysnote.org/contact/", target="_brank") Contact
