meta(charset='UTF-8')
meta(content='J9ufqzow1A2hCXYFnsbjhCZs2ASSbvKrtSgNg1S-Rjs', name='google-site-verification')
meta(content='width=device-width, initial-scale=1.0', name='viewport')
meta(content='masaki, kobayashi, 小林, 正樹, makky, @_makky_, klis, klis13, klis13ac, ac, javascript, web, webapp, frontend, engineer, developer, tsukuba, 筑波大学, street, view, library', property='keywords')
meta(content='Makky.io', property='og:title')
meta(content='website', property='og:type')
meta(content='', property='og:description')
meta(content='http://makky.io', property='og:url')
meta(content='makky.io', property='og:site_name')