meta(charset='UTF-8')
meta(content='J9ufqzow1A2hCXYFnsbjhCZs2ASSbvKrtSgNg1S-Rjs', name='google-site-verification')
meta(content='width=device-width, initial-scale=1.0', name='viewport')
meta(content='makky.ioは、Makky(Masaki Kobayashi)のWebサイトです。過去に制作したWebサイトやWebアプリなどを紹介します。', name='description')
meta(content='makky.io, 小林 正樹, Masaki Kobayashi, 知識情報・図書館学類, klis, 13, AC', name='keywords')
meta(property='og:type', content='website')
meta(property='og:description', content='makky.ioは、Makky(Masaki Kobayashi)のWebサイトです。過去に制作したWebサイトやWebアプリなどを紹介します。')
meta(property='og:image', content='http://makky.io/image/webclip.png')
meta(property='og:site_name', content='makky.io')
meta(content='makky.ioは、Makky(Masaki Kobayashi)のWebサイトです。過去に制作したWebサイトやWebアプリなどを紹介します。', name='twitter:card')
meta(content='@_makky_', name='twitter:site')