.container.portfolio
  h1 Portfolio

  .col-md-12
    h2 WebApp
    .col-md-6(ng-repeat= "item in portfolios.webapp")
      .panel.panel-default
        .panel-body
          h4 {{item.title}}
          img(ng-src = "{{item.image_path[0]}}")
        .panel-footer
          a(href= "{{item.detail_path}}") Detail

  .col-md-12
    h2 WebSite
    .col-md-6(ng-repeat= "item in portfolios.website")
      .panel.panel-default
        .panel-body
          h4 {{item.title}}
          img(ng-src = "{{item.image_path[0]}}")
        .panel-footer
          a(href= "{{item.detail_path}}") Detail
