.container.portfolio_detail
  h1
    a(href="#/portfolio") Portfolio
    |/{{portfolio.title}}
  .panel.panel-default
    .panel-body  
      .col-md-12.page-section
        .col-md-9
          p.description {{portfolio.description}}
        .col-md-3
          p 作成日:{{portfolio.created_at}}
          p 更新日:{{portfolio.updated_at}}
          p タグ:{{tags}}

      .col-md-12.page-section
        .col-md-9
          img.image(ng-src="{{centerImage}}")
        .col-md-3
          .col-md-12(ng-repeat="image in portfolio.image_path")
            img.image(ng-src="{{image}}",ng-class="{active: isActive($index)}", ng-click="changeImage($index)")

      //- .col-md-12
      //-   a.btn.btn-success.col-md-3.btn-lg(href="{{portfolio.blog_path}}", ng-show="{{portfolio.blog_path}}", target="_blank")
      //-     i.fa.fa-calendar
      //-     |Blog
      //-   a.btn.btn-default.col-md-3.btn-lg(href="{{portfolio.git_path}}", ng-show="{{portfolio.git_path}}", target="_blank")
      //-     i.fa.fa-github
      //-     |Git
      //-   a.btn.btn-default.col-md-3.btn-lg(href="{{portfolio.live_path}}", ng-show="{{portfolio.live_path}}", target="_blank")
      //-     i.fa.fa-play-circle
      //-     |Live
