.container.portfolio
  .page-header
    h1
      i.fa.fa-angle-right.portfolio_header_icon
      |Portfolio

  .page-body
    .col-xs-12
      .row
        .page-header
          h2 WebApp
        .page-body
          .col-md-6(ng-repeat="item in portfolios.webapp")
            .panel.panel-default
              .panel-body
                h4 {{item.title}}
                img(ng-src="{{item.image_path[0]}}")
              .panel-footer
                a.btn.btn-default(href="{{item.detail_path}}")
                  |Detail

    .col-xs-12
      .row
        .page-header
          h2 WebSite
        .page-body
          .col-md-6(ng-repeat="item in portfolios.website")
            .panel.panel-default
              .panel-body
                h4 {{item.title}}
                img(ng-src="{{item.image_path[0]}}")
              .panel-footer
                a.btn.btn-default(href="{{item.detail_path}}")
                  |Detail