.container.tool
  h1
    i.fa.fa-angle-right.tool_header_icon
    |Tool
  .row
    .col-md-6(ng-repeat= "item in tools")
      .panel.panel-default
        .panel-body
          h4 {{item.title}}
          img(ng-src="{{item.image_path[0]}}")
        .panel-footer
          a(href= "{{item.link_path}}") Link
