doctype
html(lang='jp')
  head
    title Makky.io
    include ../template/meta

    include ../template/asset_head

  body
    include ../template/header

    block contents

    include ../template/footer

    include ../template/asset_foot