doctype
html
  head
    block title
    meta(charset= 'UTF-8')
    meta(content= 'width=device-width, initial-scale=1.0', name= 'viewport')
    meta(content= '', property= 'keywords')
    meta(content= '', property= 'og:title')
    meta(content= 'website', property= 'og:type')
    meta(content= '', property= 'og:description')
    meta(content= '', property= 'og:url')
    meta(content= '', property= 'og:site_name')
    link(href='img/favicon.ico', rel= 'shortcut icon')
    link(href='img/apple-touch-icon.png', rel= 'apple-touch-icon')
    script(src= "lib/jquery/js/jquery.min.js")
    script(src= "lib/bootstrap/js/bootstrap.min.js")
    script(src= "js/app.js")
    link(rel= "stylesheet", type= "text/css", href= "lib/bootstrap/css/bootstrap.min.css")
    link(rel= "stylesheet", type= "text/css", href= "css/style.css")
    block assets

  body
    include ../template/header
    
    block contents

    include ../template/footer
