doctype
html(lang='jp')
  head
    title Makky.io
    include ../template/meta
    include ../template/asset
    block asset

  body
    include ../template/header
    
    block contents

    include ../template/footer